@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


.background-image 
{
    background-image: url('assets/img/about-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}
